<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--     Menu Movie       -->
        <add id="Magenest_Movie::Staff" title="Staff Management" module="Magenest_Staff" sortOrder="1"
             resource="Magento_Backend::Staff"/>
        <add id="Magenest_Movie::ShowStaff" title="Staff" module="Magenest_Staff" sortOrder="0"
             parent="Magenest_Movie::Staff" action="staff/staff/show" resource="Magento_Backend::ShowStaff"/>
    </menu>
</config>